body{
    background-image: linear-gradient(to right,#01022da4, #333),url(avatar.webp);background-repeat: no-repeat;background-attachment: fixed;background-size: 100%;}
a{text-decoration: none;color:white;}
ul{list-style: none;margin: 0;padding: 0;display: flex;float: right;justify-content: space-evenly;width: 60%;}
body:hover{background-image: linear-gradient(to right,#01022df8, #33333388),url(avatar.webp);background-repeat: no-repeat;background-attachment: fixed;background-size: 100%;}
ul a:hover{text-decoration:underline;}
.logo{font-size: 30px;text-transform: uppercase;}
.container{width: 350px;margin-top: 50px;padding: 30px;color: white;}
.container h2{font-size: 100px;text-transform: uppercase;}

.button{border-radius: 10px;}
.button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}


















